{
  "presets": [
    "./scripts/preset-es2015",
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "lodash"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "lodash",
        [
          "transform-react-remove-statics",
          {
            "propTypes": true,
            "defaultProps": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  },
  "sourceMaps": true
}
